# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [1]:
# Details Student 1:

# Details Student 2:

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [2]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [3]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net installation:

# unmark if you want to use and need to install
!pip install wn
!python -m wn download omw-he:1.4

Requirement already satisfied: wn in c:\users\linux\anaconda3\lib\site-packages (0.9.4)
Requirement already satisfied: requests in c:\users\linux\anaconda3\lib\site-packages (from wn) (2.31.0)
Requirement already satisfied: tomli in c:\users\linux\anaconda3\lib\site-packages (from wn) (2.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\linux\anaconda3\lib\site-packages (from requests->wn) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\linux\anaconda3\lib\site-packages (from requests->wn) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\linux\anaconda3\lib\site-packages (from requests->wn) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\linux\anaconda3\lib\site-packages (from requests->wn) (2023.7.22)

Cached file found: C:\Users\linux\.wn_data\downloads\7ecf10e89326bc0ac26ad94b40fe60a7b6ac3302

Checking C:\Users\linux\AppData\Local\Temp\tmp88yxai8z\omw-he\omw-he.xml
Skipping omw-he:1.4 (Hebrew Wordnet); already added

In [5]:
# word net import:

# unmark if you want to use:
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\users\linux\anaconda3\lib\site-packages (2.3.0)

In [7]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\linux\machine-learning

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [132]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [133]:
df_train.head(8)
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

In [134]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [135]:
# tokenized_df_train=ht.tokenize(df_train)
def text_cleaner(text):
    story_test=text['story']
   
#     print(len(story_test[0]))
#     print('***********************')
    # clean punctations
    clean_punctations_story_test=[re.sub(r'[^\w\s]', '', text)for text in story_test]
    clean_punctations_story_test=pd.Series(clean_punctations_story_test)

#     print('after cleaning punctuation!')
#     print(len(clean_punctations_story_test[0]))

#     print('***********************')
    # clean numbers
    clean_number_story_test=[re.sub(r'\d+', '', text)for text in clean_punctations_story_test]
    clean_number_story_test=pd.Series( clean_number_story_test)

#     print('after cleaning numbers!')
#     print(len(clean_number_story_test[0]))
#     print('***********************')

    # clean extra spaces
    clean_extraSpaces_story_test=clean_number_story_test.str.replace(r'\s+', ' ').str.strip()

#     print('after cleaning extra spaces!')
#     print(len(clean_extraSpaces_story_test[0]))

#     text['gender']=text['gender'].replace(['m','f'],[0,1])
    # remove stop words _not working and we cant build our stop words list_
    # stop_words_hebrew=TfidfVectorizer(stop_words='hebrew')
    # clean_story_text=stop_words_hebrew.fit_transform(clean_extraSpaces_story_test)
    # feature_name=stop_words_hebrew.get_feature_names_out()
    # df=pd.DataFrame(clean_story_text.toarrat(),columns=feature_name)
    # print (df)
    clean_text=pd.DataFrame({'story': clean_extraSpaces_story_test,'gender':text['gender']})
   

    return clean_text

In [136]:
def naive_bayes(text_new):
#     X=text_new['story']
#     y=text_new['gender']
   
    X_train , X_test,y_train, y_test=train_test_split(text_new['story'],text_new['gender'],test_size=0.2,random_state=42)
   
    vectorize=TfidfVectorizer()
    X_train_Tfid=vectorize.fit_transform(X_train)
    X_test_Tfid=vectorize.transform(X_test)
#     print(X_test_Tfid)
#     print(X_train_Tfid)
  
    model=MultinomialNB()
    model.fit(X_train_Tfid,y_train)
    
    y_pred=model.predict(X_test_Tfid)
    
    f1_scores=f1_score(y_test,y_pred,average=None)
    print("F1-scores for each class:", f1_scores)
    
    return model

In [155]:
# value=df_train
clean_text=text_cleaner(df_train)
# train_df, test_df=train_test_split(clean_text,test_size=0.2)
train_df=clean_text.head(602)
test_df=clean_text.tail(len(clean_text)-602)
test_df
train_df
# check model on unknown data
Naive_bayes_model=naive_bayes(train_df)
vectorize_for_test=TfidfVectorizer()
story=test_df['story']
gender=test_df['gender']
story_test=vectorize_for_test.fit_transform(story)
gender_test=vectorize_for_test.transform(gender)



y_pred=Naive_bayes_model.predict(story_test)
print("F1-scores for each class:", f1_score(y_pred,gender_test,average=None))

                                                 story gender
602  ארוחת ליל הסדר הגיע הזמן הזה בשנה זהו יום חג ש...      m
603  יום שבת אחר הצהריים שניים עשר מחברי ואני נסענו...      m
604  באחד ימי ראשון במהלך השנה אשתי קיבלה שיחת טלפו...      m
605  זה היה יום ההולדת של הבת שלי ואמא שלי נתנה לי ...      m
606  הסיפור הזה התרחקש כשאר הייתי בדרום אמריקה זה ה...      m
..                                                 ...    ...
748  אז לפני שנה בדיוק טסתי לאמסטרדם עם שני חברים ט...      m
749  שבוע שעבר העליתי באופן ספונטני רעיון לנסוע עם ...      m
750  לפני חודש עברנו לדירה בבית שמש בעקבות משפחתי ה...      m
751  החוויה אותה ארצה לשתף התרחשה לפני כמה חודשים ז...      f
752  פעם כשהייתי בחו ל בקבולומביה כחלק מהטיול שלי ל...      m

[151 rows x 2 columns]

                                                 story gender
0    כשחבר הזמין אותי לחול לא באמת חשבתי שזה יקרה פ...      m
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3    כשהייתי ילד מטוסים היה הדבר שהכי ריתק אותי בתו...      m
4    הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכים...      f
..                                                 ...    ...
597  יום אחד באחד מהסופי שבוע המשפחה החליטה לנסוע ל...      m
598  בתאריך ה טסתי עם בת הזוג שלי לפולין לטיול לרגל...      m
599  יצאתי לטייל עם חברה יצאנו בבוקר צפונה והגענו ל...      f
600  בשנה האחרונה התחלתי לגלות את אהבתי האמיתית בתכ...      m
601  שבוע שעבר אני יושב במרפסת הבית שלי ופתאום מקבל...      m

[602 rows x 2 columns]

F1-scores for each class: [0.         0.86915888]

ValueError: X has 12969 features, but MultinomialNB is expecting 27233 features as input.

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [ ]:
df_predicted.to_csv('classification_results.csv',index=False)